:root{
	--naranja:#f57c00;
	--naranja-v2:#dca047;
	--naranja-v3:#cc9946;
	--blanco:#fff;
	--gris:hsl(0, 5%, 66%);
	--gris-v2:#616161;
	--box-shadouw:.5rem 1.5rem rgba(0,0,0,.1);
	--green:#27ae60;
    --black:#192a56;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
	/* --gris:#fafafa; */
	/* --gris-v2:#cacaca; */
	/* --naranja-v3:#e65100; */
}
