*{
    background-color: white;
}
body{
    background-color: white;
}
.GaleriaImagenes{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    grid-auto-rows: minmax(200px,auto);
    gap: 15px;
    margin: 20px;
}
.cont{
    display: flex;
    align-content: center;
    align-items: center;
    border-radius: 10%;
    border: 3px solid var(--naranja);
}
.otro1{
    background-image: url(https://cdn.pixabay.com/photo/2020/10/05/19/55/hamburger-5630646_1280.jpg);
    background-size: 300px;
}
.otro2{
    background-image: url(https://cdn.pixabay.com/photo/2017/06/02/18/24/watermelon-2367029_1280.jpg);
    background-size: 300px;
}
.otro3{
    background-image: url(https://cdn.pixabay.com/photo/2017/12/10/14/47/pizza-3010062_1280.jpg);
    background-size: 300px;
}
.otro4{
    background-image: url(https://cdn.pixabay.com/photo/2017/03/23/19/57/asparagus-2169305_1280.jpg);
    background-size: 300px;
}

.otro5{
    background-image: url(https://cdn.pixabay.com/photo/2017/01/11/11/33/cake-1971552_1280.jpg);
    background-size: 300px;
}
.otro6{
    background-image: url(https://cdn.pixabay.com/photo/2017/05/07/08/56/pancakes-2291908_1280.jpg);
    background-size: 300px;
}
.otro7{
    background-image: url(https://cdn.pixabay.com/photo/2017/12/09/08/18/pizza-3007395_1280.jpg);
    background-size: 300px;
}
.otro8{
    background-image: url(https://cdn.pixabay.com/photo/2016/01/22/02/13/meat-1155132_1280.jpg);
    background-size: 300px;
}
.otro9{
    background-image: url(https://cdn.pixabay.com/photo/2010/12/13/10/25/canape-2802_1280.jpg);
    background-size: 300px;
}
.otro10{
    background-image: url(https://cdn.pixabay.com/photo/2016/09/15/19/24/salad-1672505_1280.jpg);
    background-size: 300px;
}
.otro11{
    background-image: url(https://cdn.pixabay.com/photo/2017/09/30/15/10/plate-2802332_1280.jpg);
    background-size: 300px;
}
.otro12{
    background-image: url(https://cdn.pixabay.com/photo/2016/03/27/22/38/cake-1284548_1280.jpg);
    background-size: 300px;
}
.otro13{
    background-image: url(https://cdn.pixabay.com/photo/2016/11/06/23/31/breakfast-1804457_1280.jpg);
    background-size: 300px;
}
.otro14{
    background-image: url(https://cdn.pixabay.com/photo/2015/04/08/13/13/food-712665_1280.jpg);
    background-size: 300px;
}
.otro15{
    background-image: url(https://cdn.pixabay.com/photo/2021/11/01/15/52/spring-roll-6760871_1280.jpg);
    background-size: 300px;
}
.otro16{
    background-image: url(https://cdn.pixabay.com/photo/2018/07/18/19/12/pasta-3547078_1280.jpg);
    background-size: 300px;
}
.otro17{
    background-image: url(https://cdn.pixabay.com/photo/2016/11/18/19/00/bread-1836411_1280.jpg);
    background-size: 300px;
}
.otro18{
    background-image: url(https://cdn.pixabay.com/photo/2015/04/10/00/41/food-715542_1280.jpg);
    background-size: 300px;
}
h2{
    text-align: center;
    margin-top: 20px;
}
.extra{
    width: 800px;
    height: 400px;
    position: absolute;
    display: flex;
    top:32%;
    left:20%;
    border: 6px solid var(--naranja);
    border-radius: 10px 10px 10px 10px;
}
.principal{
    margin-top: 0;
    width: 400px;
    height: 388px;
    margin-right: 20px;
}
.user{
    display: relative;
}
.user img{
    margin-top: 10px;
    width: 30px;
    height: 30px;
}
.UserTag{
    float: right;
    margin-right: 240px;
    margin-top: 10px;
    margin-left: 15px;
}

.ComentariosT{
    position: absolute;
    top: 40%;
    left: 54%;
}
.Comentarios{
    position: absolute;
    top: 50%;
    left: 54%;
} 
li{
    list-style: none;
}
