@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('colors.css');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:white;
    text-decoration: none;
    transition: 0.3s;
}

body {
    font-family: "Montserrat";
    background-color: #b8b6b6;
    color: #000000;
}

/*Barra*/

li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

header{
    
    display: flex;
    background: var(--blanco);
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    border-bottom: 1px solid var(--naranja);
}

/*Logo*/


.logo{
    width: 25%;
    cursor: pointer;
    text-align: center;
}

.logo img {
    height: 100px;
    width: 100px;
}

/*Titulos Centrales*/

nav {
    width: 30%;
    background: rgb(80, 87, 80);
}

.nav_links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    width: 100%;
}

.nav_links li{
    /* display: inline-block; */
    padding: 0px 20px;
}

.nav_links li a{
    color: var(--naranja);
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: gray;
}

/*Botones Iniciar-Registrarse*/

.btn_header{
    width: 35%;
    text-align: right;
}

.btn{
    padding: 9px 25px;
    margin: 3px 5px;
    background-color: var(--naranja-v2);
    border: none;
    border-radius: 40px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
}

.active {
    background-color: var(--naranja);
}

.btn:hover{
    background-color:var(--naranja);
}

.btn_header input {
    border: 1px solid var(--naranja);
    height: 38px;
    border-radius: 40px;
    font-size: 16px;
    padding-left: 15px;

}

/*fomulario*/
.formulario{
    width: 100%;
    
    background: var(--gris-v2);
}

.container{
    /*border:1px solid white;*/
    /* background: var(--gris-v2); */
    width: 600px;
    height: 350px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    display: inline-flex; 
    border: 1px solid var(--naranja);
    padding: 20px;
    border-radius: 30px;
  }
  .backbox{  
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: 80%;
    position: absolute;
    transform: translate(0,-50%);
    top:50%;
    display: inline-flex;
  }
  
  .frontbox{
    background-color:rgba(202, 174, 103);
    border-radius: 20px;
    height: 100%;
    width: 50%;
    z-index: 10;
    position: absolute;
    right:0;
    margin-right: 3%;
    margin-left: 3%;
    transition: right .8s ease-in-out;
    border: 1px solid rgb(121, 98, 69);
  }
  
  .moving{
    right:45%;
  }
  
  .loginMsg, .signupMsg{
    width: 50%;
    height: 100%;
    font-size: 15px;
    box-sizing: border-box;
  }
  
  .loginMsg .title,
  .signupMsg .title{
    font-weight: 300;
    font-size: 23px;
  }
  
  .loginMsg p,
  .signupMsg p {
    font-weight: 100;
  }
  
  .textcontent{
    color:#404040;
    margin-top:65px;
    margin-left: 12%;
  }
  
  .loginMsg button,
  .signupMsg button {
    background-color: #404040;
    border: 2px solid white;
    border-radius: 10px;
    color:white;
    font-size: 12px;
    box-sizing: content-box;
    font-weight: 300;
    padding:10px;
    margin-top: 20px;
  }
  
  .login, .signup{
    padding: 20px;
    text-align: center;
  }
  
  .login h2,
  .signup h2 {
    color: #a57a1d;
    font-size:22px;
  }
  
  .inputbox{
    margin-top:30px; 
  }
  .login input, 
  .signup input {
    display: block;
    width: 100%;
    height: 40px;
    background-color: #f2f2f2;
    border: none;
    margin-bottom:20px;
    font-size: 12px;
  }
  
  .login button,
  .signup button{
    background-color:  #a57a1d;
    border: none;
    color:white;
    font-size: 12px;
    font-weight: 300;
    box-sizing: content-box;
    padding:10px;
    border-radius: 10px;
    width: 60px;
    position: absolute;
    right:30px;
    bottom: 30px;
    cursor: pointer;
  }
  
  /* Fade In & Out*/

  .login p {
    cursor: pointer;
    color:#404040;
    font-size:15px;
  }
  
  .loginMsg, .signupMsg{
    /*opacity: 1;*/
    transition: opacity .0.2s ease-in-out;
  }
  
  .visibility{
    opacity: 0;
  }
  
  .hide{
    display: none;
  }
  
