@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('colors.css');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:white;
    text-decoration: none;
    transition: 0.3s;
}

body {
    font-family: "Montserrat";
    background-color: #b8b7b6;
    color: #000000;
}

/*Barra*/

li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

header{
    
    display: flex;
    background: var(--blanco);
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    border-bottom: 1px solid var(--naranja);
}

header{
    padding: 1rem 2rem;
}

section{
    padding: 1rem 2rem;
}

/*Logo*/


.logo{
    width: 25%;
    cursor: pointer;
    text-align: center;
}

.logo img {
    height: 100px;
    width: 100px;
}

    /*Inicio-de-la-parte-inferior-del-carrusel-de-imagenes*/

    .h21{
      text-align: center;
      margin-bottom: 10px;
      font-family: 'Montserrat';
    }

    .pconte1{
      width: 100%;
      height: 700px;
      /*background-color: #ff9800;*/
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .rece1{
      width: 750px;
      height: 500px;
      background-color: #f57c00;
      margin-top: 15px;
      margin-left: 15px;
      float: left;
      border-radius: 50px;
    }

    .info1{
      width: 500px;
      height: 500px;
      background-color: #bdbdbd;
      margin-top: 15px;
      margin-left: 15px;
      border-radius: 20px;
    }

    .pconten_1{
      width: 720px;
      height: 470px;
      background-color: #f57c00;
      margin-top: 7px;
      margin-left: 7px;    
      border-radius: 20px;
        }

    .imgreceta1{
      width: 738px;
      height: 485px;
      border-radius: 50px;
    }

    .imgreceta2{
      width: 900px;
      height: 500px;
      border-radius: 50px;
    }

    .imgreceta3{
      width: 738px;
      height: 485px;
      border-radius: 50px;
    }
    .pconte2{
      width: 100%;
      height:600px;
      background-color: #424242;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
    }

    .rece2{
      width: 900px;
      height: 500px;
      background-color: #424242;
      margin-top: 15px;
      margin-left: 15px;
      float: left;
    }

    .info2{
      width: 500px;
      height: 500px;
      background-color: #bdbdbd;
      margin-top: 15px;
      margin-left: 15px;
      border-radius: 20px;
    }

    .h3info{
      text-align: center;
      font-family: 'Montserrat';
      margin-bottom: 15px;
      background-color: #bdbdbd;
    }

    .pinfo{
      margin-left: 15px;
      margin-right: 15px;
      text-align: justify;
      background-color: #bdbdbd;
    }
  
    .h321{
      text-align: center;
      padding-bottom: 50px;
      padding-top: 100px;
      background-color: blue;
    }
    
    .painfo1{
      text-align: center;
      font-size: 18px;
    }

    .button{
      background-color: #f5f5f5;
      color: black;
      margin-left: 150px;
      margin-top: 40px;
      display: inline-block;
      font-size: 16px;
      /*margin: 20px;*/
      padding: 10px 0px;
      text-align: center;
      width: 200px;
      text-decoration:  none;
      box-shadow: 0px 4px 0px #9e9e9e;
      border-radius: 5px;
    }

    .button:hover{
      background-color: #757575;
    }
    
/*ver-mas*/

    .ver_mas{
       width: 100%;
       height: 450px;
       background-color: #424242;
       display: flex;
       justify-content: center;
    }

    .ver_mas1{
       width: 650px;
       height: 350px;
       background-color: #424242;
       float: left;
       margin-top: 50px;
       margin-right: 25px;
    }

    .ver_mas2{
       width: 350px;
       height: 310px;
       float: left;
       background-color: #bdbdbd;
       margin-top: 65px;
       margin-right: 40px;  
       border-radius: 20px;
    }

    .img_ver_mas{
       width: 650px;
       height: 350px;
       border-radius: 20px;
    }

    .buttonregister{
      background-color: #f5f5f5;
      color: black;
      margin-left: 65px;
      margin-top: 10px;
      margin-bottom: 10px;
      display: inline-block;
      font-size: 16px;
      padding: 10px 0px;
      text-align: center;
      width: 200px;
      text-decoration:  none;
      box-shadow: 0px 4px 0px #9e9e9e;
      border-radius: 5px;
    }

    .buttonregister:hover{
      background-color: #757575;
    }

    .buttonlogin:hover{
      background-color: #757575;
    }
/*Titulos Centrales*/

nav {
    width: 30%;
    background: rgb(80, 87, 80);
}

.nav_links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    width: 100%;
}

.nav_links li{
    /* display: inline-block; */
    padding: 0px 20px;
}

.nav_links li a{
    color: var(--naranja);
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: gray;
}

/*Botones Iniciar-Registrarse*/

.btn_header{
    width: 35%;
    text-align: right;
}

.btn{
    padding: 9px 25px;
    margin: 3px 5px;
    background-color: var(--naranja-v2);
    border: none;
    border-radius: 40px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
}

.active {
    background-color: var(--naranja);
}

.btn:hover{
    background-color:var(--naranja);
}

.btn_header input {
    border: 1px solid var(--naranja);
    height: 38px;
    border-radius: 40px;
    font-size: 16px;
    padding-left: 15px;

}

/*Carrucel*/

section{
    padding: 2rem 9%;
}

section:nth-child(even){
    background: #eee;
}

.btn_12{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: seashell;
    background: rgb(228, 181, 110);
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem ;
}

.btn_12:hover{
    background:rgb(220, 151, 23);
    letter-spacing: .1rem;
}
.home .home-slider .slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 9rem;
  }

.home .home-slider .slide .content{
    flex:1 1 45rem;
}

.home .home-slider .slide .image img{
    width: 100%;
}

.home .home-slider .slide .content h3{
    color:rgb(80, 87, 80);
    font-size: 7rem;
}

.home .home-slider .slide .content span{
    color:var(--naranja);
    font-size: 2.5rem;
}

.home .home-slider .slide .content h3{
    color:rgb(80, 87, 80);
    font-size: 4rem;
}

.home .home-slider .slide .content p{
    color:rgb(139, 145, 139);
    font-size: 1.5rem;
    padding: .5rem 0;
    line-height: 1.5;
}

.swiper-pagination-bullet-active{
    background: var(--naranja-v2);

}

.home .home-slider .slide .content h3{
    font-size: 5rem;
}

/*Seccion de Plato*/

.sub-heading{
    text-align: center;
    color: rgb(242, 203, 132);
    font-size: 2rem;
    padding-top: 1rem;
}

.heading{
    text-align: center;
    color: rgb(58, 58, 58);
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.dishes .box-conteiner{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr) ) ;
    gap:1.5rem;
}

.dishes .box-conteiner .box{
    padding: 2.5rem;
    background: #fff;
    border-radius: .5rem;
    border:.1rem solid rgb(182, 140, 101);
    box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    position: relative;
    overflow: hidden;
    text-align: center;
}

.dishes .box-conteiner .box .fa-heart,
.dishes .box-conteiner .box .fa-eye{
    position: relative;
}


    /*Inicio-de-la-parte-inferior-del-carrusel-de-imagenes*/

    .h21{
        text-align: center;
        margin-bottom: 10px;
        font-family: 'Montserrat';
      }
  /* Cuadro 1 */
      .pconte1{
        width: 100%;
        height: 700px;
        background-color:white;
        display: flex;
        align-items: center;
        justify-content: center;
      }
  
      .rece1{
        width: 750px;
        height: 500px;
        background-color:#f57c00;
        margin-top: 15px;
        margin-left: 15px;
        float: left;
        border-radius: 50px;
      }
  
      .info1{
        width: 500px;
        height: 500px;
        background-color: #f57c00;
        margin-top: 15px;
        margin-left: 15px;
        border-radius: 20px;
      }
  
      .pconten_1{
        width: 720px;
        height: 470px;
        background-color: white;
        margin-top: 15px;
        margin-left: 15px;
      }
  
      .imgreceta1{
        width: 720px;
        height: 470px;
        border-radius: 50px;
      }
  
      .imgreceta2{
        width: 900px;
        height: 500px;
        border-radius: 50px;
      }
  
      .imgreceta3{
        width: 720px;
        height: 470px;
        border-radius: 50px;
      }
      .pconte2{
        width: 100%;
        height:600px;
        background-color:#f57c00 ;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
      }
  
      .rece2{
        width: 900px;
        height: 500px;
        background-color: #ffffff;
        margin-top: 15px;
        margin-left: 15px;
        float: left;
      }
  
      .info2{
        width: 500px;
        height: 500px;
        background-color: #f57c00;
        margin-top: 15px;
        margin-left: 15px;
        border-radius: 20px;
    }

    .info2_4{
      width: 500px;
      height: 500px;
      background-color: #ffffff;
      margin-top: 15px;
      margin-left: 15px;
      border-radius: 20px;
    }
  
      .h3info{
        text-align: center;
        font-family: 'Montserrat';
        margin-bottom: 15px;
        background-color: #ffffff;
      }

      .h3info_2{
        text-align: center;
        font-family: 'Montserrat';
        margin-bottom: 15px;
        background-color: #f57c00;
      }

      .h3info_3{
        text-align: center;
        font-family: 'Montserrat';
        margin-bottom: 15px;
        background-color: #ffffff;
      }
  
      .pinfo{
        margin-left: 15px;
        margin-right: 15px;
        text-align: justify;
        background-color: #f57c00;
      }

      .pinfo_1{
        margin-left: 15px;
        margin-right: 15px;
        text-align: justify;
        background-color: white;
      }

      
    
      .h321{
        text-align: center;
        padding-bottom: 50px;
        padding-top: 100px;
        background-color:#f57c00;
      }
      
      .painfo1{
        text-align: center;
        font-size: 18px;
      }
  
      .button{
        background-color: #858585;
        color: black;
        margin-left: 150px;
        margin-top: 40px;
        display: inline-block;
        font-size: 16px;
        /*margin: 20px;*/
        padding: 10px 0px;
        text-align: center;
        width: 200px;
        text-decoration:  none;
        box-shadow: rgb(255, 255, 255);
        border-radius: 5px;
      }
  
      .button:hover{
        background-color:white;
      }
      
  /*ver-mas*/
  
      .ver_mas{
         width: 100%;
         height: 450px;
         background-color:#f57c00;
         display: flex;
         justify-content: center;
      }
  
      .ver_mas1{
         width: 650px;
         height: 350px;
         background-color: rgb(0, 0, 0);
         float: left;
         margin-top: 50px;
         margin-right: 25px;
      }
  
      .ver_mas2{
         width: 350px;
         height: 310px;
         float: left;
         background-color: #ffffff;
         margin-top: 65px;
         margin-right: 40px;  
         border-radius: 20px;
      }
  
      .img_ver_mas{
         width: 650px;
         height: 350px;
         border-radius: 20px;
      }
  
      .buttonregister{
        background-color: #858585;
        color: rgb(0, 0, 0);
        margin-left: 65px;
        margin-top: 10px;
        margin-bottom: 10px;
        display: inline-block;
        font-size: 16px;
        padding: 10px 0px;
        text-align: center;
        width: 200px;
        text-decoration:  none;
        box-shadow: 0px 4px 0px rgb(255, 255, 255);
        border-radius: 5px;
      }
  
      .buttonregister:hover{
        background-color:#727272;
      }
  
      .buttonlogin:hover{
        background-color: rgb(58, 58, 58);
      }
  
  nav {
      width: 30%;
      background: rgb(130, 130, 130);
  }
  
      .buttonlogin{
        background-color: #858585;
        color: black;
        margin-left: 65px;
        display: inline-block;
        font-size: 16px;
        padding: 10px 0px;
        text-align: center;
        width: 200px;
        text-decoration:  none;
        box-shadow: 0px 4px 0px #9e9e9e;
        border-radius: 5px;
      }
    /*end-ver-mas*/


    /*footer*/

.footer{
  width: 100%;
  height: 300px;
  /*background-color: #90f1ef;*/
  display: flex;
  /*justify-content: center;*/
  min-height: 10vh;

}

.footer_linea{
  width: 100%;
  height: 2px;
  background-color: #f57c00;
}

.footer_linea_vertical{
  height: 300px;
  width: 1px;
  background-color: #f57c00;
  margin-left: 25px;
  float: left;
}

.logo_footer{
  width: 450px;
  height: 270px;
  /*background-color: #000000;*/
  margin-left: 140px;
  margin-top: 20px;
  float: left;
  
  }
  
  .footer_linea{
    width: 100%;
    height: 2px;
    background-color: #f57c00;
  }
  
  .logo_footer{
    width: 450px;
    height: 270px;
    /*background-color: #000000;*/
    margin-left: 50px;
    margin-top: 20px;
    float: left;
    
  }
  
  .redes_sociales{
    width: 480px;
    height: 270px;
    /*background-color: #424242;*/
    float: left;
    margin-left: 50px;
    margin-top: 20px;
  
  }
  
  .enlaces{
    width: 450px;
    height: 270px;
    /*background-color: #a57a1d;*/
    float: left;
    margin-top: 20px;
    margin-left: 50px;
  }
  
  .img_logo{
    width: 300px;
    height: 250px;
    margin-left: 75px;
  }
  
  .h3footer{
    text-align: center;
  }
  
  .icono_facebook{
    width: 70px;
    height: 70px;
    /*background-color:#757575;*/
    margin-top: 60px;
    margin-left: 80px;
    float: left;
  }
  
  .icono_instagram{
    width: 70px;
    height: 70px;
    /*background-color: #757575;*/
    float: left;
    margin-top: 60px;
    margin-left: 10px;
  }
  
  .icono_youtube{
    width: 70px;
    height: 70px;
    /*background-color: #757575;*/
    float: left;
    margin-top: 60px;
    margin-left: 10px;
  }
  
  .icono_twiter{
    width: 70px;
    height: 70px;
    /*background-color: #757575;*/
    float: left;
    margin-top: 60px;
    margin-left: 10px;
  }
  
  /* end-footer */
  
  /*star-pag-recetas*/
  
  .contenedor_recetas{
    width: 100%;
    height: 700px;
    /* background-color: #000000; */
  }
  
  .receta-1{
    width: 380px;
    height: 600px;
    background-color: #ffffff;
    margin-left: 25px;
    float: left;
  }
  
  .receta-2{
    width: 380px;
    height: 600px;
    background-color: #ffffff;
    margin-left: 15px;
    float: left;
  }
  
  .receta-3{
    width: 380px;
    height: 600px;
    background-color: #fffcfc;
    margin-left: 15px;
    float: left;
  }
  
  .receta-4{
    width: 380px;
    height: 600px;
    background-color: #e4ac71;
    margin-left: 15px;
    float: left;
  }



 /*Loader*/
 
 .loader-container{
    position: fixed;
    top:0; left:0;
    height:100%; 
    width: 100%;
    z-index: 10000;
    background:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.loader-container img{
    width:25rem;
}

.loader-container.fade-out{
    top:-110%;
    opacity:0;
}

/* Footer */
.redes_sociales{
  width: 480px;
  height: 270px;
  /*background-color: #424242;*/
  float: left;
  margin-left: 25px;
  margin-top: 20px;

}

.enlaces{
  width: 450px;
  height: 270px;
  float: left;
  margin-top: 20px;
  margin-left: 25px;
}



.icono_facebook{
  width: 70px;
  height: 70px;
  /*background-color:#757575;*/
  margin-top: 40px;
  margin-left: 100px;
  float: left;
}

.icono_instagram{
  width: 70px;
  height: 70px;
  /*background-color: #757575;*/
  float: left;
  margin-top: 40px;
  margin-left: 10px;
}

.icono_youtube{
  width: 70px;
  height: 70px;
  /*background-color: #757575;*/
  float: left;
  margin-top: 40px;
  margin-left: 10px;
}

.icono_twiter{
  width: 70px;
  height: 70px;
  /*background-color: #757575;*/
  float: left;
  margin-top: 40px;
  margin-left: 10px;
}

.enlaces_a{
  width: 250px;
  height: 105px;
  margin-top: 9px;
  margin-left: 100px;
  text-align: center;
  font-size: xx-large;
}

/* end-footer */

/*star-pag-recetas*/

.contenedor_recetas{
  width: 100%;
  height: 550px;
}

.receta-1{
  width: 383px;
  height: 505px;
  /*background-color: #757575;*/
  margin-left: 25px;
  float: left;
  border: 0.5px solid #6d4c41;
  border-radius: 20px;
}

.receta-1-img{
  width: 380px;
  height: 250px;
  /*background-color: #90f1ef;*/
  border-radius: 10px;
}

.imgreceta_1{
  width: 380px;
  height: 250px;
  border-radius: 20px;
}

.receta-1-fecha{
  width: 190px;
  height: 55px;
  /*background-color: #a57a1d;*/
  float: left;
}

.iconreceta_1{
  width: 30px;
  height: 30px;
  margin-top: 10px;
  float: left;
  margin-left: 10px;
}
.text-fecha-receta_1{
  float: left;
  margin-top: 15px;
  margin-left: 5px;
}

.receta-1-autor{
  width: 190px;
  height: 55px;
  /*background-color: #f57c00;*/  
  float: left;

}

.icon-usuario-receta_1{
  width: 30px;
  height: 30px;
  float: left;
  margin-top: 10px;
  margin-left: 50px;
}

.linea_ficha{
  width: 380px;
  height: 2px;
  background-color: #6d4c41;
  float: left;
  margin-bottom: 10px;
}

.receta-1-descripcion{
  width: 380px;
  height: 200px;
  border-radius: 20px;
}

.h3descripcion{
  font-size: 20px;
  margin-left: 10px;
  margin-top: 50px;
  border-radius: 20px;
  text-align: center;
}

.text_descripcion{
  text-align: justify;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 14px;
}

.boton_pag_recetas{
  background-color: #fb8c00;
  color: black;
  margin-top: 15px;
  margin-left: 80px;
  display: inline-block;
  font-size: 16px;
  padding: 10px 0px;
  text-align: center;
  width: 200px;
  text-decoration:  none;
  box-shadow: 0px 4px 0px #9e9e9e;
  border-radius: 5px;
}

.boton_pag_recetas:hover{
  background-color: #ef6c00;
}

/*receta2 */
.receta-2{
  width: 383px;
  height: 505px;
  /*background-color: #757575;*/
  margin-left: 15px;
  float: left;
  border: 0.5px solid #6d4c41;
  border-radius: 20px;
}

.receta-3{
  width: 383px;
  height: 505px;
  /*background-color: #757575;*/
  margin-left: 15px;
  float: left;
  border: 0.5px solid #6d4c41;
  border-radius: 20px;
}

.receta-4{
  width: 383px;
  height: 505px;
  /*background-color: #757575;*/
  margin-left: 15px;
  float: left;
  border: 0.5px solid #6d4c41;
  border-radius: 20px;
}

h1{
  text-align: center;
  /* margin-bottom: ; */
}

.h2_pag_recetas{
  margin-bottom: 10px;
  margin-left: 15px;
  /* text-shadow: 0px 2px #ffb74d; */
  color: #ff9800;
} 


.star {
  color: var(--naranja-v2);
}
